<html>
    <head>
        <title>[% title %]</title>
    </head>
    <body>
        <h1>[% title %]</h1>
        <hr/>
        <ul>
        [% FOREACH item = list %]
            <li> [% item %] </li>
        [% END %]
        </ul>
        <hr/>
        <em>[% foo %] [% baz %]</em>
    </body>
</html>
