[% USE decorate %] 
[% IF bottom %]
<div id="mobile-footer" data-role="footer" class="tabs">
[% ELSE %]
<div id="mobile-header" data-role="header" class="tabs">
[% END %]
<div class="[% IF bottom %]bottom[% END %]" data-role="navbar" style="min-height: 34px">
<ul>
[% IF user.is_guest %]
    <div data-role="controlgroup">
    [% IF ws %]
        <li><a data-theme="b" rel="external" data-role="button" href="/challenge?/m/page/[% ws.name %]/[% page.uri %]" class="ui-btn-right">[% loc('nav.login') %]</a></li>
    [% ELSE %]
        <li><a data-theme="b" rel="external" data-role="button" href="/challenge?/m/workspace_list">[% loc('nav.login') %]</a></li>
    [% END %]
    </div>
[% ELSE %]

    [% IF bottom %]
<div id="mobile-bottom-logout">
<li>
    <a rel="external" href="/nlw/submit/logout?redirect_to=/m/login">[% loc('nav.logout') %]</a>
    <span class="menu-padding"><hr /></span>
</li>
</div>
[% ELSE %]
<li><div style="background: [% skin_info.mobile.logo.backgroundColor || '#17417F' %]; height: 34px; text-align: center"><table border=0 height="34" width="100%"><tr><td valign="middle">
        [% SET logo = skin_info.mobile.logo.url
            ? skin_uri(skin_info.mobile.logo.url)
            : s3_uri('images/miki-logo.png')
         %]
        <img src="[% logo %]" style="max-width: 98%; max-height: 26px;"/>
</td></tr></table></div></li>
    [% END %]
    [% IF bottom %]
        [% FILTER decorate('lite_nav_activities_bottom') %]
        [% END %]
    [% ELSE %]
        [% FILTER decorate('lite_nav_activities') %]
        [% END %]
    [% END %]
<li>
    [% IF section == 'activities' %]
        <a id="[% IF bottom %]bottom-[% END %]mobile-activities" class="ui-btn-active current">[% loc('nav.activity') %]</a>
    [% ELSE %]
        <a id="[% IF bottom %]bottom-[% END %]mobile-activities" href="/m/activities">[% loc('nav.activity') %]</a>
    [% END %]
</li>

    [% IF bottom %]
        [% FILTER decorate('lite_nav_workspaces_bottom') %]
        [% END %]
    [% ELSE %]
        [% FILTER decorate('lite_nav_workspaces') %]
        [% END %]
    [% END %]

<li>
    [% IF section == 'workspaces' %]
        <a id="[% IF bottom %]bottom-[% END %]mobile-workspace_list" class="ui-btn-active current">[% loc('nav.wikis') %]</a>
    [% ELSE %]
        <a id="[% IF bottom %]bottom-[% END %]mobile-workspace_list" href="/m/workspace_list">[% loc('nav.wikis') %]</a>
    [% END %]
</li>

[% END %]
</ul>
</div>
</div>
