[%# @COPYRIGHT@ -%]
[%- USE decorate -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>[% "$ws.title : " IF ws.title %][%- title | html %]</title>
        <link rel="apple-touch-icon" href="/static/[% app_version %]/skin/common/images/apple-touch-icon.png"/>
        <script src="[% s3_uri('javascript/l10n-' _ loc_lang _ '.js.gz') %]"></script>
        [% IF enable_jquery_mobile %]
        <link rel="stylesheet" href="/static/[% app_version %]/skin/common/css/jquery.mobile-1.0a3.min.css" />
        <script src="/static/[% app_version %]/skin/common/javascript/jquery-1.4.4.min.js"></script>
        <script type="text/javascript">
        $(document).bind("mobileinit", function(){
            [% FILTER decorate('socialtext_js_vars') %]
            window.Socialtext = window.Socialtext || {};
            [% END %]
            window.Socialtext.mobile = true;

            // Disable Ajax link transitions under Selenium.
            var isSelenium = (
                (typeof seleniumAlert != 'undefined' && seleniumAlert)
                || (typeof Selenium != 'undefined' && Selenium)
                || ((typeof window.top != 'undefined' && window.top)
                    && (window.top.selenium_myiframe
                        || window.top.seleniumLoggingFrame)
                || ((typeof window.top.opener != 'undefined' && window.top.opener)
                    && (window.top.opener.selenium_myiframe
                        || window.top.opener.seleniumLoggingFrame))
                )
            );

            $.extend($.mobile, {
                defaultTransition: 'fade',
                ajaxEnabled: false,
                ajaxFormsEnabled: false,
                ajaxLinksEnabled: false, // !isSelenium,
                hashListeningEnabled: false,
                gradeA: function(){
                    return(
                        $.support.mediaquery
                            && ($.browser.webkit || $.browser.mozilla)
                    );
                }
            });

            if ($.support.mediaquery && ($.browser.webkit || $.browser.mozilla)) {
                // {bz: 4791}: Tapping an item in a list should highlight the item
                // with the same styling as "mousedown".
                $(".ui-btn").live({
                    click: function() {
                        var theme = $(this).attr( "data-theme" );
                        $(this).removeClass( "ui-btn-up-" + theme ).addClass( "ui-btn-down-" + theme );
                    }
                });
            }
        });
        </script>
        <script src="/static/[% app_version %]/skin/common/javascript/jquery.mobile-1.0a3.min.js"></script>
        [% ELSE %]
            <script type="text/javascript"><!--
                [% FILTER decorate('socialtext_js_vars') %]
                window.Socialtext = window.Socialtext || {};
                [% END %]
                window.Socialtext.mobile = true;
            --></script>
        [% END %]
        [% INCLUDE element/css_links %]
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
    </head>
    <body>
        [% FILTER decorate('body_begin') %]
        [% END %]
        <div style="display:none">
            <strong>[% warning || loc("error.css-disabled") %]</strong>
            <br/>
        </div>
        <div data-role="page">
