etc/socialtext/db/cache.*.sql
widget-as-a-wafl-migration.sql
Makefile
etc/init.d/ceqlotron
etc/init.d/st-apache
lib/Socialtext/Build/ConfigureValues.pm
tmp/
build/tmp/
share/html/502.html
t/test-data/ja/mecabif
t/share/plugin
blib
share/l10n/mecab/char.bin
share/l10n/mecab/dicrc
share/l10n/mecab/dicsrc/
share/l10n/mecab/left-id.def
share/l10n/mecab/matrix.bin
share/l10n/mecab/rewrite.def
share/l10n/mecab/right-id.def
share/l10n/mecab/sys.dic
share/l10n/mecab/unk.dic
share/l10n/*.po
share/workspaces/wikitests/wikitests.1.tar.gz
share/javascript/l10n
messages.mo
nlw-en.po
lib/Socialtext/Handler/ControlPanel.pm
lib/Socialtext/Pluggable/Plugin/Widgets.pm
lib/Socialtext/Pluggable/Plugin/Agile.pm
lib/Socialtext/Pluggable/Plugin/CSSKit.pm
lib/Socialtext/Pluggable/Plugin/Dashboard.pm
lib/Socialtext/Pluggable/Plugin/People.pm
lib/Socialtext/Pluggable/Plugin/Signals.pm
lib/Socialtext/Pluggable/Plugin/SocialCalc.pm
lib/Socialtext/Rest/Signals.pm
lib/Socialtext/WikiFixture/ApplianceConfig.pm
bin/copy_from_shindig
bin/generate-feature
bin/get-sample-data
bin/guanxi_import.pl
bin/po.xml
bin/po.xsd
bin/st-widgets
bin/validate_gadget
build/tmp/
dev-bin/test_access.log
dev-bin/test_nlw.log
etc/init.d/ceqlotron
etc/init.d/st-apache
etc/socialtext/uri_map.d
etc/socialtext/uri_map.d/people.yaml
etc/socialtext/uri_map.d/signals.yaml
etc/socialtext/uri_map.d/widgets.yaml
lib/Socialtext/AccessHandler/IsBusinessAdmin.pm
lib/Socialtext/Agile/Story.pm
lib/Socialtext/Appliance/BackupCleanup.pm
lib/Socialtext/Appliance/BackupList.pm
lib/Socialtext/Appliance/BackupStore.pm
lib/Socialtext/Appliance/CommandLine.pm
lib/Socialtext/Appliance/ConfigCheck.pm
lib/Socialtext/Appliance/Config.pm
lib/Socialtext/Appliance/Configurator.pm
lib/Socialtext/Appliance/ConsoleController.pm
lib/Socialtext/Appliance/Daemon.pm
lib/Socialtext/Appliance/GrowthReport.pm
lib/Socialtext/Appliance/Model/Backup.pm
lib/Socialtext/Appliance/Model.pm
lib/Socialtext/Appliance/Model/Setup.pm
lib/Socialtext/Appliance/Model/SupportTarball.pm
lib/Socialtext/Appliance/Model/System.pm
lib/Socialtext/Appliance/PhoneHome.pm
lib/Socialtext/Appliance.pm
lib/Socialtext/Appliance/SupportRequest.pm
lib/Socialtext/Appliance/UsageReport.pm
lib/Socialtext/Appliance/User.pm
lib/Socialtext/Appliance/WorkspaceUsageReport.pm
lib/Socialtext/Build/ConfigureValues.pm
lib/Socialtext/CSSKit/Template/Plugin/decorate.pm
lib/Socialtext/Handler/Container/
lib/Socialtext/Gadgets/Gadget/
lib/Socialtext/Gadgets/Container.pm
lib/Socialtext/Gadgets/ContainerType.pm
lib/Socialtext/Gadgets/Features.pm
lib/Socialtext/Gadgets/Gadget.pm
lib/Socialtext/Gadgets/XML.pm
lib/Socialtext/Handler/ControlPanel.pm
lib/Socialtext/Noun/Signal.pm
lib/Socialtext/People/Auth.pm
lib/Socialtext/People/Fields.pm
lib/Socialtext/People/ProfilePhoto.pm
lib/Socialtext/People/Profile.pm
lib/Socialtext/People/Rest.pm
lib/Socialtext/People/Rest/ProfilePhoto.pm
lib/Socialtext/People/Rest/Profile.pm
lib/Socialtext/People/Rest/Profiles.pm
lib/Socialtext/People/Rest/ProfileTags.pm
lib/Socialtext/People/Rest/Tags.pm
lib/Socialtext/People/Rest/Watchers.pm
lib/Socialtext/People/Rest/Watchlist.pm
lib/Socialtext/Noun/Signal.pm
lib/Socialtext/Signal/PageTopic.pm

# share excludes
lib/Socialtext/People/Search.pm
lib/Socialtext/People/Tags.pm
lib/Socialtext/PerfData.pm
lib/Socialtext/Pluggable/Plugin/Agile.pm
lib/Socialtext/Pluggable/Plugin/CSSKit.pm
lib/Socialtext/Pluggable/Plugin/Dashboard.pm
lib/Socialtext/Pluggable/Plugin/People.pm
lib/Socialtext/Pluggable/Plugin/Signals.pm
lib/Socialtext/Pluggable/Plugin/SocialCalc.pm
lib/Socialtext/Pluggable/Plugin/Widgets.pm
lib/Socialtext/Rest/Gadgets
lib/Socialtext/Rest/Gadgets/Gadget.pm
lib/Socialtext/Rest/Signals.pm
lib/Socialtext/WikiFixture/ApplianceConfig.pm
Makefile
share/console-template/
share/html/500.html
share/html/502.html.en
share/html/502.html.html
share/html/502.html.ja
share/l10n/mecab/
share/template/control
share/uploaded-skin/
share/widgets/*.png
t/lib/Socialtext/People/
t/lib/Socialtext/People/Fields.pm
t/lib/Socialtext/People/Profile.pm
t/selenium/follow_person/
t/selenium/follow_person/followed_person_appears_in_global_nav.wiki
t/selenium/follow_person/follow_unfollow.wiki
t/selenium/follow_person/initial_follow_button_text.wiki
t/Socialtext/CLI/profile-fields.t
t/Socialtext/Gadgets/
t/Socialtext/Gadgets/Container.t
t/Socialtext/Gadgets/Features.t
t/Socialtext/Gadgets/Gadget.t
t/Socialtext/Noun/
t/Socialtext/Noun/Signal.t
t/Socialtext/People/
t/Socialtext/People/Directories.t
t/Socialtext/People/Fields.t
t/Socialtext/People/Profile-lazy-field-init.t
t/Socialtext/People/Profile.t
t/Socialtext/People/Rest
t/Socialtext/People/Rest/Profile.t
t/Socialtext/People/Search.t
t/Socialtext/People/Tags.t
t/Socialtext/Rest/Gadgets
t/Socialtext/Rest/Gadgets/Container.t
t/Socialtext/Rest/Gadgets/Gadget.t
t/Socialtext/User/LDAP-profile-fields.t
t/test-data/ja/mecabif
t/tmp/
t/widget/
t/widget/01.xml
t/widget/02.xml
t/widget/03.xml
t/widget/lang
t/widget/lang/01_de.xml
t/widget/lang/01_en.xml
t/widget/lang/Test_en.xml
t/widget/lang/Test_es.xml
t/widget/Test1.xml
t/widget/Test2.xml
t/wikitests/people/
t/wikitests/people/follow_person
t/wikitests/people/follow_person/followed_person_appears_in_my_colleagues_feed.wiki
t/wikitests/people/person_links
t/wikitests/people/person_links/person_links.wiki
t/wikitests/people/rest
t/wikitests/people/rest/data_events_followed.wiki
t/wikitests/people/rest/data_people_field_meta.wiki
t/wikitests/people/rest/data_people_is_user_editable.wiki
t/wikitests/people/rest/data_people_no_ldap_changes.wiki
t/wikitests/people/rest/data_people_perms.wiki
t/wikitests/people/rest/data_people_tags.wiki
t/wikitests/people/rest/data_peopletags.wiki
t/wikitests/people/rest/data_people_watchers.wiki
t/wikitests/people/rest/data_people_watchlist.wiki
t/wikitests/people/rest/data_people.wiki
t/wikitests/signals/
t/wikitests/signals/data_signals.wiki
t/wikitests/control
t/wikitests/provisioning
etc/socialtext/uri_map.d/signals.yaml
t/Socialtext/Signal
t/share/uploaded-skin/
dev-bin/test_access.log
dev-bin/test_nlw.log
lib/Socialtext/Agile/Iteration.pm
t/Socialtext/Agile
t/Socialtext/Agile/Iteration.t
lib/Socialtext/Rest/Gadgets
t/wikitests/widgets/
t/wikitests/widgets/proxy.wiki
lib/Socialtext/Gadgets/Proxy.pm
lib/Socialtext/Rest/Gadgets/Container.pm
lib/Socialtext/Rest/Gadgets/Proxy.pm
lib/Socialtext/Rest/Signals/Feed.pm
lib/Socialtext/Gadgets/ContainerType.pm
lib/Socialtext/Gadgets/XML.pm
lib/Socialtext/Gadgets/Proxy.pm
bin/copy_from_shindig
bin/generate-feature
bin/guanxi_import.pl
bin/st-widgets
bin/po.xml
bin/po.xsd
bin/validate_gadget
t/Socialtext/Rest/Gadgets
t/Socialtext/Rest/Gadgets/Container.t
t/Socialtext/Rest/Gadgets/Gadget.t
bin/get-sample-data
lib/Socialtext/Signal.pm
t/Socialtext/Events-signal.t
t/Socialtext/Signal.t
lib/Socialtext/Appliance/Model/SupportTarball.pm
lib/Socialtext/Appliance/SupportRequest.pm
etc/socialtext/uri_map.d/widgets.yaml
t/wikitests/people/avatar-cache.wiki
t/widget/lang/Test_fallback.xml
t/Socialtext/Signal/PageTopic.t
t/Socialtext/Gadgets/Container-admin.t
t/widget/Test1.xml
t/widget/Test2.xml
t/widget/lang/Test_en.xml
t/widget/lang/Test_es.xml
lib/Socialtext/Gadgets/Gallery.pm
t/Socialtext/Gadgets/Gallery.t
lib/Socialtext/Rest/Gadgets/Gallery.pm
lib/Socialtext/Gadgets/UserAgent.pm
lib/Socialtext/Rest/Gadgets/GadgetInstance.pm
t/Socialtext/Rest/Gadgets/GadgetInstance.t
t/Socialtext/Signal/export_import.t
t/Socialtext/Gadgets/Gadget-push.t
lib/Socialtext/Pluggable/Plugin/ApacheTest.pm
t/wikitests/apache/
t/wikitests/apache/http-keep-alive.wiki
t/Socialtext/Gadgets/XML-preferences.t
t/Socialtext/Gadgets/XML-get-timeout.t
t/Socialtext/Gadgets/Container-permissions.t
t/Socialtext/Gadgets/XML-urls.t
t/Socialtext/Gadgets/ContainerType.t
t/Socialtext/Gadgets/Container-pathargs.t
t/Socialtext/Gadgets/Container-scope.t
t/Socialtext/Gadgets000.t
t/Socialtext/Gadgets/XML-install-gadget.t
t/widget/simple.xml
t/wikitests/signals/data_signals_mentions.wiki
t/Socialtext/Rest/Gadgets/Gallery.t
t/wikitests/signals/data_signals_replies.wiki
lib/Socialtext/Gadgets/Gallery/View.pm
lib/Socialtext/Gadgets/Gallery/Global.pm
lib/Socialtext/Signal/Topic.pm
t/Socialtext/Signal/Topic.t
t/wikitests/signals/data_signals_direct.wiki
lib/Socialtext/Gadgets.pm
lib/Socialtext/Rest/Gadgets.pm
lib/Socialtext/Gadgets/Gadget/XML.pm
t/account.yaml
lib/Socialtext/Gadgets/GadgetInstance.pm
lib/Socialtext/Pluggable/Plugin/Socialpoint.pm
lib/Socialtext/Socialpoint/Rest.pm
t/wikitests/socialpoint/ws_plugin_rest.wiki
etc/socialtext/uri_map.d/socialpoint.yaml
t/Socialtext/Signal/dm_email.t
lib/Socialtext/Job/SignalDMNotify.pm
t/wikitests/signals/dm-email.wiki
t/wikitests/signals/dm-prefs.wiki
lib/Socialtext/Reports
t/Socialtext/People/helpers.t
lib/Socialtext/Rest/Signals/Bookmarklet.pm
t/wikitests/signals/data_signals_sender.wiki
lib/Socialtext/Pluggable/Plugin/Analytics.pm
t/Socialtext/Gadgets/Gadget-thumbnail.t
t/wikitests/signals/events_activities.wiki
lib/Socialtext/Sheet.pm
lib/Socialtext/SocialCalcServersideNumberFormatting.pm
lib/Socialtext/SocialCalcServersideUtilities.pm
lib/Socialtext/Rest/Sheet/Cell.pm
lib/Socialtext/Sheet/Cell.pm
t/Socialtext/Sheet.t
t/Socialtext/Rest/Sheet/Cell.t
t/wikitest/socialcalc/*
etc/socialtext/uri_map.d/socialcalc.yaml
t/wikitests/socialcalc/get_cell.wiki
t/wikitests/test-data/socialcalc/ohai.ssheet
t/wikitests/socialcalc/rest.wiki
lib/Socialtext/Rest/Sheet.pm
t/wikitests/socialcalc/render.wiki
t/wikitests/test-data/render-test.wiki
t/wikitests/test-data/socialcalc/render-test.ssheet
t/Socialtext/Sheet/Renderer.t
lib/Socialtext/Sheet/Renderer.pm
t/wikitests/test-data/socialcalc/render-test-no-html.ssheet
t/wikitests/socialcalc/ss-wafl.wiki
t/wikitests/test-data/socialcalc/render-test-range.ssheet
lib/Socialtext/Pluggable/Plugin/Revisions.pm
etc/socialtext/db/cache.*.sql
t/widget/creepy_goat.jpg
t/wikitests/people/followed_person_appears_in_my_colleagues_feed.wiki
t/wikitests/people/person_links.wiki
t/wikitests/signals/events_activities_public_private.wiki
t/rest_files/atom.xml
lib/Socialtext/JSON/Proxy.pm
t/rest_files/time.pl
bin/st-remove-expired-proxy-cache
t/rest_files/atom.json
lib/Socialtext/Pluggable/Plugin/Appliance.pm
lib/Socialtext/Rest/Signals/Hidden.pm
lib/Socialtext/Rest/Signals/Signal.pm
t/wikitests/signals/data_signals_delete.wiki
lib/Socialtext/Rest/Signals/Lite.pm
lib/Socialtext/Rest/Lite/Signals.pm
lib/Socialtext/Lite/Signals.pm
lib/Socialtext/Rest/Lite/People.pm
lib/Socialtext/Lite/People.pm
bin/st-purge-json-proxy-cache
t/wikitests/miki/profile.wiki
t/wikitests/miki/signals.wiki
bin/st-purge-json-proxy-cache
t/wikitests/widgets/export-import.wiki
lib/Socialtext/Rest/Gadgets/Common.pm
t/widget/uploaded.xml
t/wikitests/widgets/events.wiki
bin/json-proxy.scgi
bin/json-proxy
bin/generate-proxy-config
etc/apache2/conf.d/apache2-jsonproxy.conf
t/wikitests/socialcalc/ss-rountrip.wiki
lib/Socialtext/JSON/Cache.pm
build/templates/apache2/conf.d/json-proxy.tt2
etc/apache2/conf.d/apache2-json-proxy.conf
build/templates/apache2/conf.d/apache2-json-proxy.tt2
t/wikitests/widgets/proxy-cache.wiki
t/tmp/wikitest-logreader.state/nlw.log.state.lock
t/wikitests/widgets/proxy-timeout.wiki
t/rest_files/sleeper.pl
t/wikitests/widgets/proxy-links.wiki
t/Socialtext/JSON/Proxy-ping.t
t/wikitests/people/rest/data_people_search.wiki
t/Socialtext/JSON/Proxy-graceful.t
t/rest_files/sleeper2.pl
t/wikitests/search/people.wiki
t/lib/Socialtext/Gadgets/UserAgent.pm
t/wikitests/socialcalc/recursion.wiki
t/wikitests/test-data/socialcalc/recurse-1-2.ssheet
t/wikitests/test-data/socialcalc/recurse-2-1.ssheet
t/wikitests/test-data/socialcalc/recurse-3-4.ssheet
t/wikitests/test-data/socialcalc/recurse-4-3.ssheet
t/wikitests/miki/people.wiki
t/wikitests/control/account_detail_groups.wiki
t/wikitests/control/account_detail_users.wiki
t/wikitests/control/group_detail.wiki
t/wikitests/control/paging.wiki
t/wikitests/control/group.wiki
t/wikitests/control/group_add_to_workspace.wiki
t/wikitests/control/workspace_groups.wiki
t/wikitests/control/group_membership.wiki
.prove
lib/Socialtext/Pluggable/Plugin/Groups.pm
t/wikitests/invite_to_network.wiki
t/wikitests/people/rest/data_people_groups.wiki
lib/Socialtext/Pluggable/Plugin/Marketo.pm
t/Socialtext/People/ProfilePhoto.t
t/wikitests/signals/targets.wiki
lib/Socialtext/Rest/Signals/Targets.pm
t/wikitests/signals/data_signals-groups.wiki
t/wikitests/groups/groups-ui-requires-people.wiki
lib/Socialtext/Handler/Container/Dashboard.pm
etc/socialtext/uri_map.d/dashboard.yaml
lib/Socialtext/Gadgets/Util.pm
lib/Socialtext/Gadgets/Container/Test.pm
t/wikitests/widgets/url-redirects.wiki
lib/Socialtext/Gadgets/Container/Dashboard.pm
lib/Socialtext/Gadgets/Container/CreateGroup.pm
lib/Socialtext/Gadgets/Container/Group.pm
lib/Socialtext/Handler/Container/CreateGroup.pm
etc/socialtext/uri_map.d/group.yaml
lib/Socialtext/Handler/Container/Group.pm
lib/Socialtext/Handler/Container/Signals.pm
lib/Socialtext/Gadgets/Container/Signals.pm
lib/Socialtext/Gadgets/Container/DefaultDashboard.pm
lib/Socialtext/Handler/Container/Profile.pm
lib/Socialtext/Gadgets/Container/Profile.pm
lib/Socialtext/Gadgets/Container/AccountDashboard.pm
lib/Socialtext/Handler/Container/AccountDashboard.pm
lib/Socialtext/Gadgets/Container/EditProfile.pm
lib/Socialtext/Handler/Container/EditProfile.pm
t/Socialtext/Account-import-signals.t
lib/Socialtext/Gadgets/Owned.pm
etc/socialtext/uri_map.d/groups.yaml
lib/Socialtext/Gadgets/Container/BaseDashboard.pm
t/wikitests/widgets/permissions.wiki
lib/Socialtext/Rest/Gadgets/ContainerGadget.pm
lib/Socialtext/Rest/Gadgets/ContainerGadgets.pm
lib/Socialtext/Handler/Container/Dashboard/Gadgets.pm
lib/Socialtext/Handler/Container/Dashboard/Gadget.pm
lib/Socialtext/Handler/Gadget/Dashboard.pm
lib/Socialtext/Handler/Gadget/Profile.pm
lib/Socialtext/Handler/Gadget/Signals.pm
t/wikitests/dashboard/container-permissions.wiki
t/wikitests/dashboard/gallery.wiki
t/wikitests/groups/container-permissions.wiki
t/wikitests/people/container-permissions.wiki
t/wikitests/signals/container-permissions.wiki
t/Socialtext/Gadgets/Container-reinstall.t
t/lib/Socialtext/Gadgets/Util.pm
t/share/plugin/fakeplugin
lib/Socialtext/Gadgets/Container/EditGroup.pm
lib/Socialtext/Handler/Container/EditGroup.pm
t/wikitests/control/transform_accounts.wiki
t/wikitests/dashboard/manage.wiki
t/wikitests/miki/signals-to-network.wiki
t/Socialtext/Signal/recent.t
build/templates/nginx/conf.d/json-proxy.tt2
t/wikitests/frontend/http-keep-alive.wiki
t/Socialtext/Gadgets/Gadget-expand.t
t/wikitests/widgets/proxy-nocache.wiki
t/wikitests/people/rest/data_people_paged.wiki
t/Socialtext/Gadgets/Gadget-install.t
lib/Socialtext/Pluggable/Plugin/Provisioning.pm
lib/Socialtext/Handler/Provisioning.pm
t/wikitests/provisioning/test_forms.wiki
etc/socialtext/uri_map.d/provisioning.yaml
t/wikitests/trial.wiki
t/wikitests/provisioning/free50
etc/socialtext/provisioning.yaml
t/wikitests/provisioning/trial.wiki
t/wikitests/provisioning/free50.wiki
etc/socialtext/provisioning.yaml
t/Socialtext/Confirmation-Email.t
bin/st-pushd
build/templates/nginx/conf.d/st-pushd.tt2
t/wikitests/push/*.wiki
t/Socialtext/Confirmation-Email.t
lib/Socialtext/Handler/Push.pm
bin/st-pushd.orig
t/Socialtext/Handler/Push-graceful.t
t/Socialtext/Handler/Push-poll-timeout.t
lib/Socialtext/Pluggable/Plugin/Push.pm
t/wikitests/push/signal-workspace-mention.wiki
lib/Socialtext/Handler/Push/Client.pm
lib/Socialtext/Handler/Push/Request.pm
lib/Socialtext/Handler/Push/Util.pm
lib/Socialtext/Signal/Render.pm
lib/Socialtext/Client/Push.pm
t/wikitests/push/basic-signals.wiki
t/wikitests/push/hide-signal.wiki
t/wikitests/push/membership-change.wiki
t/Socialtext/Handler/Push-sig-render.t
t/Socialtext/Signal/length.t
t/wikitests/signals/data_signals_length.wiki
lib/Socialtext/WikiFixture/Reports.pm
t/wikitests/widgets/proxy-headers.wiki
lib/Socialtext/Rest/Signals/Replies.pm
lib/Socialtext/Gadgets/Container/Signals/Signal.pm
lib/Socialtext/Handler/Container/Signals/Signal.pm
t/wikitests/signals/data_signals_permalink.wiki
t/wikitests/signals/st_signals.wiki
lib/Socialtext/Rest/OpenSocial.pm
lib/Socialtext/OpenSocial/AppData.pm
t/wikitests/widgets/opensocial.wiki
lib/Socialtext/Pluggable/Plugin/ShareThis.pm
lib/Socialtext/Gadgets/Container/Activities.pm
lib/Socialtext/Handler/Container/Activities.pm
t/wikitests/signals/signals_conversation.wiki
lib/Socialtext/Signal/Search.pm
t/wikitests/signals/data_signals_private.wiki
t/wikitests/signals/annotations.wiki
lib/Socialtext/Gadgets/CLI.pm
lib/Socialtext/Job/UpdateWidget.pm
t/wikitests/groups/directory.wiki
t/wikitests/push/bang-visible.wiki
lib/Socialtext/Gadgets/Container/GroupDirectory.pm
lib/Socialtext/Handler/Container/GroupDirectory.pm
t/wikitests/groups/search.wiki
t/Socialtext/Pluggable/Plugin/Groups.t
t/rest_files/atom-latin1.xml
lib/Socialtext/JSON/Batch.pm
t/wikitests/widgets/proxy-batch.wiki
lib/Socialtext/Signal/Attachment.pm
lib/Socialtext/Rest/Signals/Attachment.pm
t/wikitests/opensocial-appdata.wiki
t/wikitests/signals/attachment.wiki
t/wikitests/signals/tags.wiki
lib/Socialtext/Rest/SignalTags.pm
lib/Socialtext/Signal/Tag.pm
t/Socialtext/Signal/Tag.t
lib/Socialtext/Gadgets/Container/SignalsPopOut.pm
lib/Socialtext/Handler/Container/SignalsPopOut.pm
t/widget/todo.xml
lib/Socialtext/Gadgets/Container/ForbiddenProfile.pm
t/wikitests/webhooks/signals.wiki
t/Socialtext/Handler/Push-worker.t
t/wikitests/signals/search-attachments.wiki
t/Socialtext/Handler/Push-ldap.t
lib/Socialtext/Gadgets/Container/SignalThis.pm
lib/Socialtext/Handler/Container/SignalThis.pm
t/Socialtext/User-change-primary-account-purges-dashboard.t
lib/Socialtext/LogData.pm
lib/Socialtext/LogData/Perf.pm
lib/Socialtext/LogData/PerfDataPoint.pm
lib/Socialtext/LogData/Search.pm
lib/Socialtext/LogData/SearchDataPoint.pm
t/wikitests/signals/bz4361.wiki
t/wikitests/signals/reply-to-anno.wiki
lib/Socialtext/HealthReport.pm
lib/Socialtext/Rest/Signals/Assets.pm
t/wikitests/signals/data_signals_assets.wiki
lib/Socialtext/Gadgets/Container/Explore.pm
lib/Socialtext/Handler/Container/Explore.pm
t/wikitests/signals/signal_comment.wiki
t/wikitests/push/presence.wiki
lib/Socialtext/Signal/Asset/Find.pm
t/Socialtext/Signal/Asset/Find.t
lib/Socialtext/Handler/Mobile/Activities.pm
lib/Socialtext/Rest/Signals/Assets/Tags.pm
lib/Socialtext/Signal/Asset/Tag/Find.pm
t/wikitests/signals/data_signals_assets_tags.wiki
t/wikitests/signals/data_signals_assets-tagfilter.wiki
service/st-userd/supervise
lib/Socialtext/Handler/JSONProxy.pm
t/wikitests/signals/data_signals_many.wiki
t/Socialtext/Account-export-gadgets.t
lib/Socialtext/Signal/Asset/Finder.pm
lib/Socialtext/Signal.pm.orig
t/wikitests/socialpoint/impersonator.wiki
lib/Socialtext/Handler/Activities.pm
lib/Socialtext/Handler/Activities/Mobile.pm
bin/setup-provisioning-proxy
lib/Socialtext/Handler/MultiLogin.pm
lib/Socialtext/MultiLogin/Cookie.pm
lib/Socialtext/Pluggable/Plugin/MultiLogin.pm
t/wikitests/multilogin/login.wiki
etc/socialtext/uri_map.d/multilogin.yaml
t/wikitests/multilogin/reset-password.wiki
t/wikitests/signals/data_signals_assets-order.wiki
t/wikitests/people/invite-link-disabled-globally.wiki
lib/Socialtext/Lite/z
t/wikitests/google-url-proxy.wiki
t/wikitests/signals/data_signals_assets-corner-cases.wiki
t/Socialtext/Signal/Asset-incipient-links.t
t/wikitests/push/link-dictionary.wiki
t/wikitests/widgets/proxy-rss.wiki
t/wikitests/widgets/proxy-authen.wiki
lib/Socialtext/Handler/Container/WidgetEditor.pm
lib/Socialtext/Gadgets/Container/WidgetEditor.pm
lib/Socialtext/Handler/Gadget/WidgetEditor.pm
lib/Socialtext/Pluggable/Plugin/Twilio.pm
lib/Socialtext/Job/TwilioNotify.pm
etc/socialtext/uri_map.d/twilio.yaml
lib/Socialtext/Rest/Twilio.pm
lib/Socialtext/Twilio.pm
lib/WWW/Twilio/API.pm
t/wikitests/analytics.wiki
t/wikitests/signals/data_signals_assets-mentions.wiki
t/wikitests/people/rest/data_people_best_full_name.wiki
lib/Socialtext/Appliance/Registration.pm
t/wikitests/people/rest/data_people_relationships.wiki
t/Socialtext/Pluggable/Plugin/Analytics.t
t/wikitests/test-data/socialcalc/ohai.csv
t/wikitests/socialcalc/csv-put.wiki
lib/Socialtext/Migratomatic.pm
t/wikitests/signals/search-groupscoped.wiki
lib/Socialtext/Gadgets/Container/Page.pm
t/wikitests/test-data/socialcalc/sample_ss2.csv
t/wikitests/socialcalc/csv-forumulas-put.wiki
t/Socialtext/Gadgets/Container/Dashboard-central_workspace.t
t/wikitests/socialcalc/csv-numbers-put.wiki
lib/Socialtext/Handler/Gadget/Group.pm
t/Socialtext/Gadgets/Gadget-views.t
t/widget/views-html-good.xml
t/widget/views-url.xml
t/wikitests/control/user_restrictions.wiki
ssl/
t/js/empty.html
t/js/activities-eventlist.t.js
lib/Socialtext/Appliance/PgPITR.pm
lib/Socialtext/Appliance/PgBackup.pm
lib/Socialtext/Appliance/PgRestore.pm
t/js/activities-dm.t.js
t/js/activities.js
hudson.prove
t/js/lib/mocked-push-client.js
lib/Socialtext/Gadgets/Feature.pm
lib/Socialtext/Rest/Group/Peopletags.pm
t/wikitests/groups/peopletags.wiki
lib/Socialtext/Gadget/Renderer.pm
t/wikitests/rest/data_gadget.wiki
t/wikitests/people/relationships.wiki
lib/Socialtext/Page/BMTablePopulator.pm
lib/Socialtext/People/Rest/Relationships.pm
lib/Socialtext/Pluggable/Plugin/TestPlugin.pm
t/wikitests/miki/profile-relationships.wiki
lib/Socialtext/People/Relationships.pm
t/Socialtext/People/Relationships.t
bin/search-numbers
template/setup.html
template/css.tmpl
template/help.html
template/console_wrapper.tmpl
template/popup.html
template/shutdown.html
template/form.tmpl
template/backup.html
template/small_form.tmpl
template/overview.html
template/health.sheet
t/wikitests/dashboard/widget-editor.wiki
t/wikitests/miki/profile-relationships-lots.wiki
t/wikitests/miki/profile-relationships-hidden.wiki
t/wikitests/profile-relationships.wiki
t/wikitests/control/group_add_users.wiki
lib/Socialtext/Gadgets/Gadget/XML.pm.rej
lib/Socialtext/Gadgets/Gadget/XML.pm.orig
t/widget/views-html-good.xml.rej
t/widget/views-html-good.xml.orig
lib/Socialtext/Agile/Rest.pm
etc/socialtext/uri_map.d/agile.yaml
t/Socialtext/Pluggable/Plugin/Widgets.t
lib/Socialtext/Job/ProvisionTrial.pm
t/Socialtext/Job/ProvisionTrial.t
t/Socialtext/Pluggable/Plugin/People.t
t/Socialtext/People/profile-account.t
lib/Socialtext/Pluggable/Plugin/Kanban.pm
lib/Test/Socialtext/PgPITR.pm
template/backups.inc
lib/Socialtext/Gadgets/Container/Group.pm.orig
lib/Test/Socialtext/PgPITR.pm
template/backups.inc
lib/Socialtext/Like.pm
lib/Socialtext/Pluggable/Plugin/Like.pm
t/Socialtext/Like.t
lib/Socialtext/Liked.pm
lib/Socialtext/Liker.pm
lib/Socialtext/Rest/PageLikes.pm
t/wikitests/like/page.wiki
etc/socialtext/uri_map.d/like.yaml
lib/Socialtext/Rest/PageRevisionLikes.pm
t/Socialtext/Pluggable/Plugin/Like.t
lib/Socialtext/Pluggable/Plugin/Kanban.pm
lib/Socialtext/Gadgets/Container/Group.pm.orig
t/Socialtext/People/Profile-listing.t
t/wikitests/signals/data_signals_at.wiki
supervise
t/wikitests/control/account.wiki
lib/Socialtext/Rest/Likes.pm
lib/Socialtext/Rest/Signals/Likes.pm
t/wikitests/like/signal.wiki
t/Socialtext/People/Profile-listing.t
t/wikitests/frontend/http-keep-alive.wiki.orig
lib/Socialtext/Rest/AccountGadgets.pm
lib/Socialtext/XHTML.pm
lib/Socialtext/Pluggable/Plugin/CKEditor.pm
lib/Socialtext/XHTML/Cell.pm
lib/Socialtext/XHTML/Renderer.pm
lib/Socialtext/Job/SignalMentionNotify.pm
etc/socialtext/socialradar.conf
.sass-cache/
share/node_modules/*.js
lib/Socialtext/Pluggable/Plugin/SocialRadar.pm
lib/Socialtext/Gadgets/Container/SocialRadar/People.pm
lib/Socialtext/Handler/Container/SocialRadar/People.pm
