[submodule "nlw/share/skin/common/submodule/js-class"]
	path = nlw/share/skin/common/submodule/js-class
	url = git@github.com:socialtext/js-class.git
[submodule "nlw/share/skin/common/submodule/js-test-base"]
	path = nlw/share/skin/common/submodule/js-test-base
	url = git@github.com:socialtext/js-test-base.git
[submodule "nlw/share/skin/common/submodule/js-test-simple"]
	path = nlw/share/skin/common/submodule/js-test-simple
	url = git@github.com:socialtext/js-test-simple.git
