/*
 * Socialtext
 *
 * Name:        Red Skin
 * Developer:   Mark Schuber
 * Date:        2008-10-3-08
 */



/* Image Swaps Start */

body {
	background: #e36730 url(../images/bgRed.png) repeat-x top left;
}

div#mainNav {
	background: url(../images/mainNavTileRed.png) repeat-x top left;
}

div#homeLink {
	background: url(../images/mainNavLeftRed.png) no-repeat top left;
}

div#mainNav div#workSpaceLink {
	background: url(../images/mainNavRightRed.png) no-repeat top right;
}

div#mainNav ul li a,div#homeLink a {
	background: url(../images/mainNavDividerRed.png) no-repeat center right;
	}

div#mainNav ul.level1>li { 
    background: url(../images/mainNavDividerRed.png) no-repeat center right;
}

body#contentPage div#controls,body#settingsPage div#controls,body#dashBoard div#controls {
	background: url(../images/contentControlsTileRed.png) repeat-x top left;
}

body#contentPage div#controls div#st-editing-tools-edit,body#dashBoard div#controls div#st-editing-tools-edit,body#settingsPage div#controls div#st-editing-tools-edit {
	background: url(../images/contentControlsLeftRed.png) no-repeat top left;
	}

body#contentPage div#controls div#controlsRight,body#dashBoard div#controls div#controlsRight,body#settingsPage div#controls div#controlsRight {
	background: url(../images/contentControlsRightRed.png) no-repeat top right;
	}
	
body#workspaceListPage div#controls, body#loginPage div#controls {
    background: url(../images/contentControlsTileRed.png) repeat-x top left;
}
body#workspaceListPage div#controls div#st-editing-tools-edit, body#loginPage div#controls div#st-editing-tools-edit {
    background: url(../images/contentControlsLeftRed.png) no-repeat top left;
}
body#workspaceListPage div#controls div#controlsRight, body#loginPage div#controls div#controlsRight {
	background: url(../images/contentControlsRightRed.png) no-repeat top right;
}	

div#footer {
	background: url(../images/footerTileRed.png) repeat-x top left;
}	

div#footerGlobal {
	background: url(../images/footerRightRed.png) no-repeat top right;
}

div#footerLinks {
	background: url(../images/footerLeftRed.png) no-repeat top left;
}


div#footerGlobal ul li {
	background: url(../images/footerDividerRed.png) no-repeat center left;
}

div#footerLinks ul li {
	background: url(../images/footerDividerRed.png) no-repeat center left;
}

body#workSpace div.widget div.widgetHeader,body#dashBoard div.widget div.widgetHeader,body#settingsPage div.widget div.widgetHeader {
	background: url(../images/dashWidgetHeaderRed.png) no-repeat top right;
}

body#workSpace div.widget,body#settingsPage div.widget,body#dashBoard div.widget {
	background: url(../images/dashWidgetTopRed.png) no-repeat top left;
}

div#globalNav div input.searchButton {
	background: url(../images/searchButtonRed.png) no-repeat top left;
	}

/* Image Swaps End */

a {
	color: #e75f01;
}

a:hover {
color: #ff5b0b;
}

div#header div#globalNav ul li a {
	color: #b51c1c;
}

div#header div#globalNav ul li {
	border-right:1px dotted #b51c1c;
}

div#contentContainer {
	border-left: #a1968f 1px solid; 
	border-right: #a1968f 1px solid; 
	}
	
div.tableTabs {
	background: url(../images/tabsLeftRed.png) no-repeat top left;
}	

div.tableFilter {
	background: url(../images/tabsRightRed.png) no-repeat top right;
	}
	
	
div#st-display-mode-container div#tabs {
	background: url(../images/tabTileRed.png) repeat-x top left;
}	

table.dataTable th {
	background: #f1d5c1;
	border-right: #fff 3px solid;
	color: #B51C1C;
	
}

table.dataTable tr:hover td,table.dataTable tr.oddRow:hover td {
	background: #f1d5c1;
	}
	
	
.wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki h5, .wiki h6 {
	color:#B51C1C !important;
}	


/* Button Styles Start */


ul li a.addContentButton {
	background: url(../images/addContentButtonRed.png) no-repeat;
}

ul li a.newPostButton {
	background: url(../images/newPostButtonRed.png) no-repeat;
	}

a.newPostButton {
	background: url(../images/newPostButtonRed.png) no-repeat;
	}


div.widget ul.widgetButton li a.addTagButton {
	background: url(../images/addTagButtonRed.png) no-repeat;
	}
	
ul li a.addTagButton {
	background: url(../images/addTagButtonRed.png) no-repeat;
	}
	
	
div.widgetHeader a.settings {
	background: url(../images/settingsIconRed.png) no-repeat top left;
	}

div.widgetHeader a.minimize {
	background: url(../images/minIconRed.png) no-repeat top left;
	}

	div.widgetHeader a.close {
		background: url(../images/closeIconRed.png) no-repeat top left;
	}	

div#mainNav ul li a:hover, div#homeLink a:hover {
	color:#fcd383;
}

div#mainNav ul.level2 li a {
	color:#B51C1C;
}

div#mainNav ul.level2 li {
	color:#B51C1C;
}


div#mainNav ul.level2 li a:hover {
	color:#e41818;
}

/* Button Styles End */


