[%# @COPYRIGHT@ -%]
[%# vim: set et sts=2 sw=2: %]
[% WRAPPER layout/html id="loginPage" title=loc("login.login") %]
<div id="st-display-mode-container" class="authentication">
  <div id="controls">
    <div id="st-editing-tools-edit">
        <h2 id="st-page-titletext" class="tableTitle">[% loc('login.join=wiki', target_workspace.title) %]</h2>
    </div>
    <div id="controlsRight">&nbsp;</div>
  </div>

  <div id="contentContainer">
    [% INCLUDE errors_and_messages %]

    <div id="contentColumns">
      <div id="contentLeft">
        <dl class="form">
          <dd>[% loc('login.login-with-socialtext-account:') %]</dd>
        </dl>
        [% INCLUDE 'authen/element/login_form' %]
        [% INCLUDE 'authen/element/forgot_password_link' %]
      </div>
      <div id="contentRight">
        [% IF login_message %]
          <div id="login-message">[% login_message %]</div>
        [% END %]
        <dl class="form">
          <dd>[% loc("login.fill-in-info-to-register:") %]</dd>
        </dl>
        [% INCLUDE 'authen/element/register_form' %]
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
[% END %]
