[%- IF feed.id == 'feed-everyone' -%]
    [%- loc("error.no-events-in-30days=title", action.error_title || action.title) -%]
[%- ELSIF feed.id == 'feed-conversations' -%]
    [%- loc("error.no-conversations-in-30days=title", action.error_title || action.title) -%]
[% ELSIF feed.id == 'feed-followed' %]
    [%- loc("error.no-followed-events-in-30days=title", action.error_title || action.title) -%]
[% ELSE %]
    [%- loc("error.no-events-in-30days=title", action.error_title || action.title) -%]
[%- END -%]
