[%# @COPYRIGHT@ -%]
[%- USE date -%]
[%- calc = date.calc -%]
[%- email_date = calc.Time_to_Date() -%]
[%- MACRO ago_text(epoch_seconds) BLOCK -%]
  [%- SET escaped_timestamp = page.time_for_user | html %]
  [%- edit_date = calc.Time_to_Date(epoch_seconds) -%]
  [%- delta = calc.Delta_Days(edit_date.0, edit_date.1, edit_date.2, email_date.0, email_date.1, email_date.2) -%]
  [%- IF delta == 0 -%][% loc('email.today-at=time', escaped_timestamp) -%]
  [%- ELSIF delta == 1 -%][% loc('email.yesterday-at=time', escaped_timestamp) %]
  [%- ELSE -%][% loc('ago.days=count', delta) %]
  [%- END -%]
[%- END -%]

<li><a href="[% workspace.uri %][% page.uri %]">[% page.title %]</a>  [%- IF include_editor %]
    <br />
    [%- IF user.username == page.last_edited_by.username %]
      [% SET escaped_name = loc('email.you') | html %]
    [% ELSE %]
      [% SET escaped_name = page.last_edited_by.best_full_name( workspace => workspace ) | html %]
    [%- END %]
    [%- SET escaped_editsummary = page.edit_summary | html %]
    [%- SET profile_uri = base_profile_uri _ page.last_edited_by.user_id %]
    [%- IF page.revision_num == 1 %]
      [%- SET action = loc('email.created-by') %]
    [% ELSE %]
      [%- SET action = loc('email.last-edited-by') %]
    [%- END %]
    [%- edit_time = ago_text(page.modified_time) -%]
    [%- IF page.edit_summary %]
      [% loc('email.page-edit=action,user,summary,profile-uri,time', action, escaped_name, escaped_editsummary, profile_uri, edit_time) %]
    [% ELSE %]
      [% loc('email.page-edit=action,user,profile-uri,time', action, escaped_name, profile_uri, edit_time) %]
    [%- END %]
  [%- END %]
</li>
