[%# @COPYRIGHT@ -%]
[% SET escaped_str1 = confirmation_uri | html %]
[% SET escaped_str2 = appconfig.support_address | html %]
<html>
<head>
 <title>[% loc('email.choose-new-password') %]</title>
</head>

<body>

<p>
[% loc('email.greetings-from-socialtext') %]
</p>

<p>
[% loc('email.click-to-choose-password=uri', escaped_str1) %]
</p>

<p>
[% loc('email.any-questions-contact-support-link=uri', escaped_str2) %]
</p>
        
<p>
[% loc('email.enjoy!') %]
</p>

<hr />

[% PROCESS 'email/standard-footer.html'
   support_link = 0 %]

</body>
</html>
