[%# @COPYRIGHT@ -%]
[%# vim: set et sts=2 sw=2: %]
[% ns = 'st-commentui' %]
[% PROCESS element/doctype %]
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    [% PROCESS element/popup_css_links + javascript_links.html %]
    <title>Add Comment to [% page_title %]</title>
  </head>
  <body id="[% ns %]" class="popup" onload="comment_popup_setup()">
    <div id="[% ns %]-container">
      [% IF hub.current_workspace.comment_form_note_top %]
        <div id="[% ns %]-notetop">[% hub.current_workspace.comment_form_note_top %]</div>
      [% END %]
      <div id="contentRight">
        <form name="comment_form" method="post" action="[% script_name %]" enctype="application/x-www-form-urlencoded">

          <textarea style="width:98%;height:100px" id="[% ns %]-textarea" name="comment" wrap="virtual"></textarea>
          [% IF hub.current_workspace.comment_form_note_bottom %]
            <div id="[% ns %]-notebottom">[% hub.current_workspace.comment_form_note_bottom %]</div>
          [% END %]
          [% FOREACH field = hub.current_workspace.comment_form_custom_fields %]
           <div class="[% ns %]-customfield">
             <label class="customfield-label" for="[% field %]">
               [% field %]:
               <input type="text" class="customfield-input" name="[% field %]" />
             </label>
           </div>
          [% END %]
          <input type="hidden" name="action" value="submit_comment" />
          <input type="hidden" name="page_name" value="[% page_uri %]" />
          <input type="hidden" name="caller_action" value="[% caller_action %]" />
          <ul class="formButtons" id="[% ns %]-controls">
            <li class="flexButton">
              <a class="genericOrangeButton" id="[% ns %]-savelink" href="#" onclick="submit_comment(); return false">Saver</a>
            <li class="flexButton">
              <a class="genericOrangeButton" id="[% ns %]-cancellink" href="#" onclick="cancel_comment(); return false">Cancels</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>


