[%# @COPYRIGHT@ -%]
  <table id="[% settings_table_id %]">
    <tr>
      <td>
        <p>
          [% SET workspace_address = '<a href="/' _ workspace.name _ '/">' _ workspace.uri _ '</a>' %]
          [% loc('Congratulations! You have just created "[_1]", a brand new Socialtext Workspace. You are the administrator. The web address of the new workspace is [_2].', workspace.title, workspace_address) %]
        </p>
        <p>
          [% loc("You're ready to jump to your new workspace, if you want to. Choose your next step:") %]
        </p>
        <ul>
          <li>[% loc('<a href="/[_1]/">Go to</a> the [_2] home page.', workspace.name, workspace.title) %]</li>
          <li>[% loc('<a href="/[_1]/?action=users_invitation">Invite</a> other people to [_2].', workspace.name, workspace.title) %]</li>
          <li>[% loc('Review or change the settings for [_1]:', workspace.title) %]</li>
	  <ul>
	    <li><a href="/[% workspace.name %]/?action=workspaces_settings_appearance">[% loc('Workspace Appearance') %]</a></li>
	    <li><a href="/[% workspace.name %]/?action=workspaces_settings_features">[% loc('Workspace Features') %]</a></li>
	    <li><a href="/[% workspace.name %]/?action=workspaces_permissions">[% loc('Workspace Privacy') %]</a></li>
	  </ul>
        </ul>
        <p>
          [% loc('Or you may continue to work in this workspace, and visit "[_1]" later.', workspace.title) %]
        </p>
      </td>
    </tr>
   </table>

