body {
    behavior: url(/static/skin/s2/javascript/csshover.htc);
}

* html #st-attachments-attach-attachinterface-overlay {
    filter: alpha(opacity=70);
}

* html .popup-overlay {
    filter: alpha(opacity=70);
}


body.st-popup {
    behavior: url(/static/skin/s2/javascript/csshover.htc);
}

#st-refcard {
    behavior: url(/static/skin/s2/javascript/csshover.htc);
}

#wikiwyg_wikitext_textarea,
#wysiwyg-editable-div {
    padding: 5px;
}

div#st-pagetools ul.level2 {
    left: -6.0em !important;
    width: 14em !important;
    top: 17px !important;
}

div#st-pagetools ul li {
    padding-top: 4px !important;
}
div#st-pagetools ul ul li {
    width: 14em !important;
}

/* Remove most of the whitespace between the toolbar and the editing area */

#st-page-editing-toolbar {
    margin-top: 5px !important;
}
 
#st-editing-prefix-container {
    margin-bottom: -35px !important;
}


html body .lightbox .buttons {
    margin-top: 35px;
}

html body .lightbox input {
    margin-top: 0px;
    margin-bottom: 0px;
}

