body {
  background: #ffd;
  font-size: 80%;
}

table {
   border: 1px solid black;
}

td {
   border: 1px solid black;
   font-size: 80%;
}
* html td {
    font-size: 70%;
}

div.wiki {
    padding: 5px;
}

p {
    margin:0 0 1em 0;
}

a {
    color: blue;
    text-decoration: underline;
}

/* XXX: this is supposed to create a 
   visual indicator of don't touch this
   but like this is a bit heavy handed.
   Please improve... */
.nlw_phrase, .wafl_block {
    padding: .125em;
    border: thin dashed rgb(128,128,128);
    background-color: rgb(224,224,224); 
    color: rgb(128,128,128);
}

/* XXX: this attempts to make generated toc wafl blocks appear
 * un-editable.  It works reasonably well in Firefox, but doesn't appear
 * to have any impact in IE.  All three of these selectors appear to be necessary
 */
.nlw_phrase .toc:before {
    content: "GENERATED TABLE OF CONTENTS ";
}

.nlw_phrase .toc p {
    display: none;
}

.nlw_phrase .toc ul {
    display: none;
}

li {
    margin-left:1em;
}


