[%# @COPYRIGHT@ -%]
[% PROCESS lite/header.html title = loc("page.edit=title",  page.title)
                            cancel_edit = page.uri
%]
<div id="content_edit" style="text-align: center">
    <form name="editform"
        method="post"
        action="/m/page/[% ws.name %]/[% page.uri %]"
        enctype="application/x-www-form-urlencoded">
    <input type="submit" data-icon="check" id="st-miki-edit-sumbit" value=[% loc("edit.save") %] data-theme="b" /><br />
    <textarea name="page_body" id="edit_textarea" class="edit_text_area" rows="20" cols="75">[% page.content | html %]</textarea><br />
    <input type="hidden" name="subject" value="[% page.title %]" />
    <input type="hidden" name="revision" value="[% page.revision_num %]" />
    <input type="hidden" name="revision_id" value="[% page.revision_id %]" />
    <input type="submit" data-icon="check" value=[% loc("edit.save") %] data-theme="b" />
  </form>
</div>
[% PROCESS lite/footer.html %]
