<div class="lightbox" id="st-edit-warning-help-inline">
  <h3>Edit Contention Help</h3>

  </p>When you Save, your edits will conflict with any earlier changes saved by other users.</p>

  <ul class="buttons">
   <li class="flexButton"><a href="#" class="close">Close</a></li>
  </ul>
</div>
