<div class="activitiesWidget grid_10" id="st-signal-this-frame">
    <div style="text-align: center; padding: 56px">
        <img class="loader" src="/static/images/ajax-loader.gif"/>
    </div>
</div>
