<div id="leave-group-dialog">
    [% IF selfJoin %]
        <div>[% loc("groups.leave-this?") %]</div>
    [% ELSE %]
        <div>[% loc('groups.confirm-leave?') %]</div>
    [% END %]
    <div class="error" id="group-error"></div>
</div>
